name: Publish Docker image

on:
  push:
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Push Docker image to GitHub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
    - name: Check out the repo
      uses: actions/checkout@v6

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: datagutten
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/datagutten/rfid-gate-log

    - name: Build and push backend Docker image
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ghcr.io/datagutten/rfid-gate-log:latest
        labels: ${{ steps.meta.outputs.labels }}

    - name: Build and push nginx Docker image
      uses: docker/build-push-action@v6
      with:
        context: nginx
        push: true
        tags: ghcr.io/datagutten/rfid-gate-log-nginx:latest
        labels: ${{ steps.meta.outputs.labels }}
